<form action="/update_photo/<%= @photo.id %>" >

  <input name="the caption" value="<%= @photo.caption %>">
  <input name="the_source" id="source" value= "<%=@photo.source %>" >
  <button> Update photo </button>

</form>
